.footer{
    margin-top: 3em;
    padding: 1em 0;
    background-color:rgba(255,250,150,.8);
    color: #000000;
    text-align: center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;

    p{
        margin: 0;
    }
}
