@font-face {
    font-family: 'Nuito-Bold';
      src: url('../styles/Nunito/Nunito-Bold.ttf')  format('truetype')
}

.header{
    margin: 0;
}

.nav-list{
    padding: 2% 0;
    display:  flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    background-color: rgba(255,250,150,.8);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.nav-item{
    font-family: Nuito-Bold;
    color: #010101;
    font-size: .9rem;
    text-decoration: none;
}

.nav-item:hover{
    color: #333333;
}

.active-nav-item{
    color:#222222;
}

.link{
    color: #020202;
}